<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.avatar.url(:thumb) %>
        
        	<li>Name : <%= @user.name %></li>
			<li>Email: <%= @user.email %></li>
        	<li>Address: <%=  @user.address %><li>
        	<li>Phone: <%=  @user.phone %><li>
        	
      </h1>
    </section>
  </aside>
</div>